In [1]:
import pandas as pd
import matplotlib.pyplot as plt
house = pd.read_csv("C:/Data_Science/Python_Data_Analyse_Visualization/data/kc_house_data.csv")
titanic = pd.read_csv("C:/Data_Science/Python_Data_Analyse_Visualization/data/titanic.csv")
netflix  = pd.read_csv("C:/Data_Science/Python_Data_Analyse_Visualization/data/netflix_titles.csv",sep="|", index_col=0)
btc = pd.read_csv("C:/Data_Science/Python_Data_Analyse_Visualization/data/coin_Bitcoin.csv")
countries = pd.read_csv("C:/Data_Science/Python_Data_Analyse_Visualization/data/world-happiness-report-2021.csv", index_col=0)
car = pd.read_csv("C:/Data_Science/Python_Data_Analyse_Visualization/data/car_stocks.csv")
pops = pd.read_csv("C:/Data_Science/Python_Data_Analyse_Visualization/data/state_pops.csv")

In [3]:
titanic.name[0]

'Allen, Miss. Elisabeth Walton'

In [6]:
titanic.name.str.lower()

0                         allen, miss. elisabeth walton
1                        allison, master. hudson trevor
2                          allison, miss. helen loraine
3                  allison, mr. hudson joshua creighton
4       allison, mrs. hudson j c (bessie waldo daniels)
                             ...
1304                               zabour, miss. hileni
1305                              zabour, miss. thamine
1306                          zakarian, mr. mapriededer
1307                                zakarian, mr. ortin
1308                                 zimmerman, mr. leo
Name: name, Length: 1309, dtype: object

In [7]:
titanic.name.str.capitalize()

0                         Allen, miss. elisabeth walton
1                        Allison, master. hudson trevor
2                          Allison, miss. helen loraine
3                  Allison, mr. hudson joshua creighton
4       Allison, mrs. hudson j c (bessie waldo daniels)
                             ...
1304                               Zabour, miss. hileni
1305                              Zabour, miss. thamine
1306                          Zakarian, mr. mapriededer
1307                                Zakarian, mr. ortin
1308                                 Zimmerman, mr. leo
Name: name, Length: 1309, dtype: object

In [11]:
titanic.cabin.str[0:2]

0       B5
1       C2
2       C2
3       C2
4       C2
        ..
1304     ?
1305     ?
1306     ?
1307     ?
1308     ?
Name: cabin, Length: 1309, dtype: object

In [41]:
titanic.groupby("cabin")["survived"].mean()

cabin
?      0.302761
A10    0.000000
A11    1.000000
A14    0.000000
A16    1.000000
         ...
F33    1.000000
F38    0.000000
F4     1.000000
G6     0.600000
T      0.000000
Name: survived, Length: 187, dtype: float64

In [14]:
titanic.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')